<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Camila Sanz</p>
        <p>Digital Marketing Analyst</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Digital Marketing Analyst based in BA, Argentina. Specializing in marketing automation, lead generation, and growth for B2B clients.
            Also with a background in Customer Service & Sales and studies in both Digital Marketing & International Relations.
            Passionate about the digital world and always focused on developing and increasing my technical and personal skills to achieve better results.</p>
        </span>
    </div>
</div> 